
.cartao-container{
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.cartao{
  background-color: #686AAC;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  width: 700px;
  padding: 10px;
}

.cartao h1{
  word-break: break-all;
  text-align: center;
}

.cartao img{
  width: 500px;
  margin: 0 auto;
  display: block;
}

.cartao p{
  text-align: center;
}

.cartao a, .cartao-other a{
  background-color: #ffffff;
  color: #686AAC;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  display: block;
  transition: filter 0.2s;
}

.cartao a:hover, .cartao-other a:hover{
  filter: brightness(0.9);
}

.cartao-other{
  background-color: #686AAC;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
}