.footer{
  background-color: #686AAC;
  padding: 15px;
  margin-top: 50px;
}

.footer p{
  color: #ffffff;
  text-align: center;
}
.footer a{
  color: #b7b7b7;
  text-decoration: none;
  padding: 5px;
  transition: filter 0.2s;
}

.footer a:hover{
  filter: brightness(0.9);
}